*{
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;

}
nav{
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: white;
}
.nav-title{
  font-size: 14.46px;
  letter-spacing: -0.075rem;
  font-weight: 500;
}
.info--img{
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}
.cards-list{
  padding: 45px 40px;
}
.card{
  display: flex;
  gap: 19px;
  margin-bottom: 36px;
}
.card--info{
  padding: 12px 0;
  color: #2B283A;
  font-size: 10.24px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.info--top{
  display: flex;
  align-items: center;
  gap: 4px;
}
.info--location{
  margin-right: 8px;
  text-transform:uppercase;
  letter-spacing: 0.17em;
}
.info--location-link{
color: #918E9B;
font-size: 10.24px;
}
.info--title{
  font-size: 25px;
  font-weight: bold;
  color: #2B283A;
  height: 40px;
}
.info--date{
  margin-bottom: 2px;
  font-weight: bold;
}
.info--text{
  line-height: 1.5;
}